.login-page {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background:
    linear-gradient(
      135deg,
      #0f172a,
      #312e81,
      #7c3aed
    );

  padding: 30px;
}

.login-card {
  width: 400px;

  background: rgba(
    255,
    255,
    255,
    0.1
  );

  backdrop-filter: blur(15px);

  border-radius: 20px;

  padding: 40px;

  color: white;

  text-align: center;
}

.login-card h1 {
  margin-bottom: 15px;
}

.login-card p {
  margin-bottom: 25px;
}

.login-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-card input {
  padding: 14px;

  border: none;

  border-radius: 10px;

  outline: none;
}

.login-card button {
  background: #2563eb;

  color: white;

  border: none;

  padding: 14px;

  border-radius: 10px;

  cursor: pointer;

  font-weight: bold;
}